{% extends "header.html"%}

{% block title %}
        Requests
			   {% endblock %}

{% block content %}
{% if user %}
        <table class="table table-bordered">
  <thead class="thead-inverse">

    <tr>

        <th> username </th>
        <th> Email </th>
        <th> Staff Status </th>
        <th> Active Status </th>

        <th> Company Name</th>
    </tr>
  </thead>
{% for a in user %}
<tbody>
             <tr>

            <td><a href="/{{a.id}}/validate"> {{a.user.username}}</a></td>
            <td>{{a.user.email}}</td>
            <td>{{a.user.is_staff}}</td>
            <td>{{a.user.is_active}}</td>

                 <td>{% if comp %}
                {% for b in comp %}
                {% if a.id == b.Agents.id %}
                {{b.company.Company_Name}}
                {% endif %}
                {% endfor %}
                {% endif %}

            </td>

            </tr>
             </tbody>
{% endfor %}
{% endif %}
{% endblock %}