{% extends "header.html"%}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
        Update Profile
			   {% endblock %}
{% block message %}

{% if messages %}
  {% for message in messages %}
    {% if 'success' in message.tags %}
        <div class="alert alert-success">
            {{ message }}

        </div>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}

{% block photo %}
    {% if b %}
{% for b in b %}

<img src="{{ b.company.Company_Image.url }}", alt="..."  width=200px" height="200px" >
{% endfor %}
{% else %}
<img src="{% static 'image/crm.jpg' %}" height="150px" width="200px">

{% endif %}
			  {% endblock %}
{% block content %}
     <br><br>
                <div class="well bs-sidebar" id="sidebar" style="background-color:#f6f6f6">
                    <div class="nav nav-pills nav-stacked">
                        <ul>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form|crispy }}
  {{ agent_form|crispy }}
    <button type="submit" class="btn btn-info"><a href="/changepass/">Change Password</a></button>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

                        </ul>
                    </div>
                </div>
</div>
{% endblock %}

